<!DOCTYPE html>
<html lang="en">
<title>404</title>
<script type="text/javascript" src="/static/model.js"></script>
<link rel="stylesheet" href="/static/model.css" type="text/css">
<body class="error_body">
  <div id="main">
    	<div class="fof">
        		<h1>Error 404</h1>
				<p>Maybe an Invalid Route ? Maybe the page been moved to another URL ?</p>
				<p style="padding-top: 50px;">Return to <a href="{{url_for('home')}}" style="color: #FFEDDA;"><b>Home</b></a></p>
    	</div>
</div>
</body>
</html>