<!DOCTYPE html>
<html lang="en">
<title>Cat-Dog-Stats</title>
{% include 'html_head.html' %}
<script type="text/javascript" src="/static/model.js"></script>
<link rel="stylesheet" href="/static/model.css" type="text/css">
<body class="stat_metric_body">

{% include 'navigation.html' %}

<!-- Flash Message -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} message">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<!-------------->
<div class="stat_div">
    <h2>Cat Dog Classification</h2>

    <h3>Predicted Outcomes: </h3>
    <table id="config_id" class="display nowrap cell-border" style="width:100%">
        <caption style="text-align:center; font-weight: bold;">Table 1: Predictions</caption>
        <thead style="width:100%">
        <tr>
            <th>File Name</th>
            <th>Predicted Labels</th>
            {% if 'actual' in table %}
                <th>Actual Labels</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for key, value in table['data'].items() %}
        <tr>
            <td>{{ key }}</td>
            <td>
                {% for item in value.values() | list %}
                    <label>{{ (value.keys() | list)[(value.values() | list).index(item)] }}: {{ ("%.2f" | format(item) | string) ~ " " ~ "%" }}</label>
                    <progress value="{{ item }}" max="100" style="height:10px; width:300px;"></progress>
                    <br/>
                {% endfor %}
            </td>
            {% if 'actual' in table %}
                <td>{{ table['actual'][key] }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if 'labels' in table %}
<div class="encode_div">
    <h2>Encoded Class</h2>
    <table id="encode_id" class="display nowrap cell-border" style="width:100%">
        <caption style="text-align:center; font-weight: bold;">Table 2: Encoded output variables</caption>
        <thead style="width:100%">
        <tr>
            <th>Class</th>
            <th>Encoded Class</th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in table['labels'].items() %}
        <tr>
            <td>{{ value }}</td>
            <td>{{ key }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if 'metrics' in table %}
<div class="metric_div">
    <h2>Metrics</h2>

    <h4>1. Accuracy : {{ table['metrics']['accuracy'] * 100 }} %</h4>

    <h4>2. Negative Log Loss : {{ table['metrics']['log_loss'] }} </h4>

    <!-- Confusion Matrix -->
    <h4>3. Confusion Matrix: </h4>
    <table id="example1" class="display nowrap cell-border" style="width:100%">
        <caption style="text-align:center; font-weight: bold;">Table 3: Confusion matrix</caption>
        <thead>
            <tr>
                <th colspan="2" style="border-bottom: 0px;"></th>
                {% for i in range(0, table['metrics']['confusion_matrix'].keys() | length) %}
                    <th>Predicted</th>
                {% endfor %}
            </tr>
            <tr>
                <th style="border-top: 0px; border-right: 0px;"></th>
                <th style="border-top: 0px; border-left: 0px;"></th>
                {% for key in table['metrics']['confusion_matrix'].keys() %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for key in table['metrics']['confusion_matrix'].keys() %}
                <tr>
                    <td>Actual</td>
                    <td>{{ key }}</td>
                    {% for value in table['metrics']['confusion_matrix'][key].values() %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <!-- Classification Report -->
    <h4>4. Classification Report: </h4>
    <table id="example2" class="display nowrap cell-border" style="width:100%">
        <caption style="text-align:center; font-weight: bold;">Table 4: Classification report</caption>
        <thead>
            <tr>
                <th></th>
                {% for key in table['metrics']['classification_report'][(table['metrics']['classification_report'].keys() | list)[0]].keys() %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for key in table['metrics']['classification_report'].keys() %}
                <tr>
                    <td>{{ key }}</td>
                    {% for value in table['metrics']['classification_report'][key].values() %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>


</div>
{% endif %}


</body>

<script>
$('#config_id').DataTable( {
    'fixedHeader': true,
    "responsive": true,
    "scrollX": true,
    'lengthMenu': [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
    'lengthChange': true,
    'dom': 'Blfrtip',
    'pagingType': "full_numbers",
    'buttons': [ 'copy', 'excel', 'pdf', 'csv', 'print', 'colvis' ]
});

 $('#example').DataTable( {
    'fixedHeader': true,
    "responsive": true,
    "scrollX": true,
    'lengthMenu': [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
    'lengthChange': true,
    'dom': 'Blfrtip',
    'pagingType': "full_numbers",
    'buttons': [ 'copy', 'excel', 'pdf', 'csv', 'print', 'colvis' ]
});

$('#encode_id').DataTable( {
    'fixedHeader': true,
    "responsive": true,
    "scrollX": true,
    'lengthMenu': [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
    'lengthChange': true,
    'dom': 'Blfrtip',
    'pagingType': "full_numbers",
    'buttons': [ 'copy', 'excel', 'pdf', 'csv', 'print', 'colvis' ]
});

$('#example1').DataTable( {
    'fixedHeader': false,
    "responsive": true,
    'lengthMenu': [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
    'lengthChange': true,
    'dom': 'Blfrtip',
    'scrollX': true,
    "pagingType": "full_numbers",
    'buttons': [ 'copy', 'excel', 'pdf', 'csv', 'print', 'colvis' ]
});

$('#example2').DataTable( {
    'fixedHeader': false,
    "responsive": true,
    'lengthMenu': [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
    'lengthChange': true,
    'dom': 'Blfrtip',
    'scrollX': true,
    "pagingType": "full_numbers",
    'buttons': [ 'copy', 'excel', 'pdf', 'csv', 'print', 'colvis' ]
});

</script>

</html>